<!-- <h1>{{tour.tourss}}</h1>
<img class="card-img" src="{{tour.imageAdress}}"/> -->
<div class = "container">
  <div class="row">
    <br>
    <br>
    <!-- <p>{{tour.hotel[0].cost}}</p> -->
  </div>
  <div *ngFor = "let hotel of tour.hotel" class= "col-12 col-sm-8 col-md-6 col-lg-4">
    <!-- <p>{{hotel.hotel}}</p> -->
    <app-hotel-box [hotel]="hotel"></app-hotel-box>
  </div>
</div>
<!-- <div class="d-flex justify-content-center">
  <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [(ngModel)]="pagination.currentPage"
      [itemsPerPage]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

  </pagination>
</div> -->